<div class="body-form">
  <table>
    <tr>
      <th colspan="2"><h1><%= header_text %></h1></th>
    </tr>
    <form action="<%= action_url %>" method="POST">
      <%= auth_token %>

      <tr>
        <td class="align-right"><label for="email">Email:</label></td>
        <td class="align-left"><input type="text" name="user[email]" id="email"></td>
      </tr>

      <tr>
        <td class="align-right"><label for="password">Password:</label></td>
        <td class="align-left"><input type="password" name="user[password]" id="password"></td>
      </tr>

      <tr>
        <td colspan="2"><input type="submit" value="<%= submit_text %>" class="btn-submit"></td>
      </tr>
    </form>
  </table>
  
</div>
