/* PHASE 1: Header */

body {
  font-family: sans-serif;
  font-weight: 400;
  background-color: #eee;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f00;
}

.header a {
  display: block;
  color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
}

.header-nav {
  box-sizing: border-box;
  width: 900px;
}