/* PHASE 2: Navigation */

.header-logo {
  font-weight: 700;
  float: left;
}

.header-logo:hover {
  background-color: #000;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
}

.header-list > li:hover {
  background-color: #000;
}