<% content_for :links do %>
  <% if current_user %>
    <li><%= button_to "Add Band", new_band_url, method: :get %></li>
  <% end %>
<% end %>

<div>
  <h2>Bands</h2>
</div>

<ul>
  <% @bands.each do |band| %>
    <li class="music-links"><%= link_to band.name, band_url(band) %></li>
  <% end %>
</ul>
